#protorootfile ../ROOTfiles/shms_replay_production_XXXXX_latest.root
#protorootfile ../ROOTfiles/COSMICS/LAD_COIN_cosmic_hall_XXXXX_latest.root
protorootfile ../ROOTfiles/LAD_COIN/lad_coin50k/lad_coin_replay_production_XXXXX_latest.root
guicolor orange
canvassize 1600 800

newpage 4 2
title SHMS Hodoscope ADC Occ/Mult
macro 'UTIL/GEN/overlay2.C("phodo_1x_good_adc_occ_pos","phodo_1x_good_adc_occ_neg","S1x+","S1x-","SHMS Hodo 1x Good ADC Occupancy")' -nostat
macro 'UTIL/GEN/overlay2.C("phodo_1y_good_adc_occ_pos","phodo_1y_good_adc_occ_neg","S1y+","S1y-","SHMS Hodo 1y Good ADC Occupancy")' -nostat
macro 'UTIL/GEN/overlay2.C("phodo_2x_good_adc_occ_pos","phodo_2x_good_adc_occ_neg","S2x+","S2x-","SHMS Hodo 2x Good ADC Occupancy")' -nostat
macro 'UTIL/GEN/overlay2.C("phodo_2y_good_adc_occ_pos","phodo_2y_good_adc_occ_neg","S2y+","S2y-","SHMS Hodo 2y Good ADC Occupancy")' -nostat
macro 'UTIL/GEN/overlay2.C("phodo_1x_good_adc_mult_pos","phodo_1x_good_adc_mult_neg","S1x+","S1x-","SHMS Hodo 1x Good ADC Multiplicity")' -nostat
macro 'UTIL/GEN/overlay2.C("phodo_1y_good_adc_mult_pos","phodo_1y_good_adc_mult_neg","S1y+","S1y-","SHMS Hodo 1y Good ADC Multiplicity")' -nostat
macro 'UTIL/GEN/overlay2.C("phodo_2x_good_adc_mult_pos","phodo_2x_good_adc_mult_neg","S2x+","S2x-","SHMS Hodo 2x Good ADC Multiplicity")' -nostat
macro 'UTIL/GEN/overlay2.C("phodo_2y_good_adc_mult_pos","phodo_2y_good_adc_mult_neg","S2y+","S2y-","SHMS Hodo 2y Good ADC Multiplicity")' -nostat

newpage 4 2
title SHMS Hodoscope TDC Occ/Mult
macro 'UTIL/GEN/overlay2.C("phodo_1x_good_tdc_occ_pos","phodo_1x_good_tdc_occ_neg","S1x+","S1x-","SHMS Hodo 1x Good TDC Occupancy")' -nostat
macro 'UTIL/GEN/overlay2.C("phodo_1y_good_tdc_occ_pos","phodo_1y_good_tdc_occ_neg","S1y+","S1y-","SHMS Hodo 1y Good TDC Occupancy")' -nostat
macro 'UTIL/GEN/overlay2.C("phodo_2x_good_tdc_occ_pos","phodo_2x_good_tdc_occ_neg","S2x+","S2x-","SHMS Hodo 2x Good TDC Occupancy")' -nostat
macro 'UTIL/GEN/overlay2.C("phodo_2y_good_tdc_occ_pos","phodo_2y_good_tdc_occ_neg","S2y+","S2y-","SHMS Hodo 2y Good TDC Occupancy")' -nostat
macro 'UTIL/GEN/overlay2.C("phodo_1x_good_tdc_mult_pos","phodo_1x_good_tdc_mult_neg","S1x+","S1x-","SHMS Hodo 1x Good TDC Multiplicity")' -nostat
macro 'UTIL/GEN/overlay2.C("phodo_1y_good_tdc_mult_pos","phodo_1y_good_tdc_mult_neg","S1y+","S1y-","SHMS Hodo 1y Good TDC Multiplicity")' -nostat
macro 'UTIL/GEN/overlay2.C("phodo_2x_good_tdc_mult_pos","phodo_2x_good_tdc_mult_neg","S2x+","S2x-","SHMS Hodo 2x Good TDC Multiplicity")' -nostat
macro 'UTIL/GEN/overlay2.C("phodo_2y_good_tdc_mult_pos","phodo_2y_good_tdc_mult_neg","S2y+","S2y-","SHMS Hodo 2y Good TDC Multiplicity")' -nostat

newpage 4 2 logz
title SHMS Hodoscope Pedestals
phodo_1x_good_pped_vs_pmt_pos
phodo_1y_good_pped_vs_pmt_pos -nostat
phodo_2x_good_pped_vs_pmt_pos
phodo_2y_good_pped_vs_pmt_pos
phodo_1x_good_pped_vs_pmt_neg
phodo_1y_good_pped_vs_pmt_neg
phodo_2x_good_pped_vs_pmt_neg
phodo_2y_good_pped_vs_pmt_neg

newpage 4 2 
title SHMS Hodoscope Pedestal Monitoring
macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/shms_replay_production_golden.root","hodo_1x","p",1)'
macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/shms_replay_production_golden.root","hodo_1y","p",1)'
macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/shms_replay_production_golden.root","hodo_2x","p",1)'
macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/shms_replay_production_golden.root","hodo_2y","p",1)'
macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/shms_replay_production_golden.root","hodo_1x","p",2)'
macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/shms_replay_production_golden.root","hodo_1y","p",2)'
macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/shms_replay_production_golden.root","hodo_2x","p",2)'
macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/shms_replay_production_golden.root","hodo_2y","p",2)'

newpage 2 3
title SHMS Drift Chamber Wire Maps (All Hits)
macro UTIL/GEN/overlay2.C("pdc1u1_rawwirenum","pdc2v1_rawwirenum","1U1","2V1")
macro UTIL/GEN/overlay2.C("pdc1u2_rawwirenum","pdc2v2_rawwirenum","1U2","2V2")
macro UTIL/GEN/overlay2.C("pdc1x1_rawwirenum","pdc2x1_rawwirenum","1X1","2X1")
macro UTIL/GEN/overlay2.C("pdc1x2_rawwirenum","pdc2x2_rawwirenum","1X2","2X2")
macro UTIL/GEN/overlay2.C("pdc1v1_rawwirenum","pdc2u1_rawwirenum","1V1","2U1")
macro UTIL/GEN/overlay2.C("pdc1v2_rawwirenum","pdc2u2_rawwirenum","1V2","2U2")

newpage 2 3
title SHMS Drift Chamber Wire Maps 
macro UTIL/GEN/overlay2.C("pdc1u1_wirenum","pdc2v1_wirenum","1U1","2V1")
macro UTIL/GEN/overlay2.C("pdc1u2_wirenum","pdc2v2_wirenum","1U2","2V2")
macro UTIL/GEN/overlay2.C("pdc1x1_wirenum","pdc2x1_wirenum","1X1","2X1")
macro UTIL/GEN/overlay2.C("pdc1x2_wirenum","pdc2x2_wirenum","1X2","2X2")
macro UTIL/GEN/overlay2.C("pdc1v1_wirenum","pdc2u1_wirenum","1V1","2U1")
macro UTIL/GEN/overlay2.C("pdc1v2_wirenum","pdc2u2_wirenum","1V2","2U2")

newpage 2 3
title SHMS Drift Chamber Drift Distance
macro UTIL/GEN/overlay2.C("pdc1u1_ddist","pdc2v1_ddist","1U1","2V1")
macro UTIL/GEN/overlay2.C("pdc1u2_ddist","pdc2v2_ddist","1U2","2V2")
macro UTIL/GEN/overlay2.C("pdc1x1_ddist","pdc2x1_ddist","1X1","2X1")
macro UTIL/GEN/overlay2.C("pdc1x2_ddist","pdc2x2_ddist","1X2","2X2")
macro UTIL/GEN/overlay2.C("pdc1v1_ddist","pdc2u1_ddist","1V1","2U1")
macro UTIL/GEN/overlay2.C("pdc1v2_ddist","pdc2u2_ddist","1V2","2U2")

newpage 2 3
title SHMS Drift Chamber Drift Time
macro UTIL/GEN/overlay2.C("pdc1u1_drifttime","pdc2v1_drifttime","1U1","2V1")
macro UTIL/GEN/overlay2.C("pdc1u2_drifttime","pdc2v1_drifttime","1U2","2V2")
macro UTIL/GEN/overlay2.C("pdc1x1_drifttime","pdc2x1_drifttime","1X1","2X1")
macro UTIL/GEN/overlay2.C("pdc1x2_drifttime","pdc2x2_drifttime","1X2","2X2")
macro UTIL/GEN/overlay2.C("pdc1v1_drifttime","pdc2u1_drifttime","1V1","2U1")
macro UTIL/GEN/overlay2.C("pdc1v2_drifttime","pdc2u2_drifttime","1V2","2U2")

newpage 2 3
title SHMS Drift Chamber 1 Efficiency
macro UTIL/GEN/dcwire_efficiency.C("pdc1x1_wirenum_did","pdc1x1_wirenum_should")
macro UTIL/GEN/dcwire_efficiency.C("pdc1x2_wirenum_did","pdc1x2_wirenum_should")
macro UTIL/GEN/dcwire_efficiency.C("pdc1u1_wirenum_did","pdc1u1_wirenum_should")
macro UTIL/GEN/dcwire_efficiency.C("pdc1u2_wirenum_did","pdc1u2_wirenum_should")
macro UTIL/GEN/dcwire_efficiency.C("pdc1v1_wirenum_did","pdc1v1_wirenum_should")
macro UTIL/GEN/dcwire_efficiency.C("pdc1v2_wirenum_did","pdc1v2_wirenum_should")

newpage 2 3
title SHMS Drift Chamber 2 Efficiency
macro UTIL/GEN/dcwire_efficiency.C("pdc2x1_wirenum_did","pdc2x1_wirenum_should")
macro UTIL/GEN/dcwire_efficiency.C("pdc2x2_wirenum_did","pdc2x2_wirenum_should")
macro UTIL/GEN/dcwire_efficiency.C("pdc2u1_wirenum_did","pdc2u1_wirenum_should")
macro UTIL/GEN/dcwire_efficiency.C("pdc2u2_wirenum_did","pdc2u2_wirenum_should")
macro UTIL/GEN/dcwire_efficiency.C("pdc2v1_wirenum_did","pdc2v1_wirenum_should")
macro UTIL/GEN/dcwire_efficiency.C("pdc2v2_wirenum_did","pdc2v2_wirenum_should")

newpage 3 2 logz
title SHMS Focal Plane
pdc_xfp_vs_yfp
pdc_xpfp_vs_ypfp
pdc_xfp_vs_xpfp
pdc_xfp_vs_ypfp
pdc_yfp_vs_xpfp
pdc_yfp_vs_ypfp

newpage 3 2 logz
title SHMS Target Quantites
pgtr_ytar_vs_yptar
pgtr_xptar_vs_yptar
pgtr_xtar_vs_reactz
pgtr_xtar
pgtr_ytar
pextcor_xysieve

# newpage 3 2
newpage 2 2
title SHMS Cherenkov Occ/Mult
macro 'UTIL/GEN/overlay2.C("paero_good_occ_pos","paero_good_occ_neg","Aero+","Aero-","SHMS Aerogel Cherenkov Good Occupancy")'
macro 'UTIL/GEN/overlay2.C("paero_good_mult_pos","paero_good_mult_neg","Aero+","Aero-","SHMS Aerogel Cherenkov Good Multiplicity")'
phgcer_good_occ
phgcer_good_mult
pngcer_good_occ
pngcer_good_mult


newpage 2 2 logz
# newpage 3 1 logz
title SHMS Cherenkov Pedestals
paero_good_pped_vs_pmt_pos
paero_good_pped_vs_pmt_neg
phgcer_good_pped_vs_pmt
pngcer_good_pped_vs_pmt

newpage 2 2
# newpage 3 1
title SHMS Cherenkov Pedestal Monitoring
macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/shms_replay_production_golden.root","aero","p",1)'
macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/shms_replay_production_golden.root","aero","p",2)'
macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/shms_replay_production_golden.root","hgcer","p",1)'
macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/shms_replay_production_golden.root","ngcer","p",1)'

newpage 4 3 logz
# newpage 3 3 logz
title SHMS Cherenkov NPE
paero_npe_pos
paero_npe_neg
paero_y_vs_npe
paero_x_vs_npe
paero_xytrack
paero_xytrack
phgcer_npe
phgcer_x_vs_npe
phgcer_xytrack
pngcer_npe
pngcer_x_vs_npe
pngcer_xytrack

# pngcer_y_vs_npe
# phgcer_y_vs_npe

newpage 2 2
title SHMS Calorimeter Occ/Mult
macro 'UTIL/GEN/overlay2.C("pcal_prshwr_good_occ_pos","pcal_prshwr_good_occ_neg","PrSh+","PrSh-","SHMS PreShower Good Occupancy")'
macro 'UTIL/GEN/flyeye_occupancy.C("pcal_shwr_good_occ")'
macro 'UTIL/GEN/overlay2.C("pcal_prshwr_good_mult_pos","pcal_prshwr_good_mult_neg","PrSh+","PrSh-","SHMS PreShower Good Multiplicity")'
pcal_shwr_good_mult

newpage 4 4 logz
title SHMS Calorimeter Pedestals
pcal_prshwr_good_pped_vs_pmt_pos
pcal_prshwr_good_pped_vs_pmt_neg
pcal_shwr_good_pped_vs_pmt_grp1
pcal_shwr_good_pped_vs_pmt_grp2
pcal_shwr_good_pped_vs_pmt_grp3
pcal_shwr_good_pped_vs_pmt_grp4
pcal_shwr_good_pped_vs_pmt_grp5
pcal_shwr_good_pped_vs_pmt_grp6
pcal_shwr_good_pped_vs_pmt_grp7
pcal_shwr_good_pped_vs_pmt_grp8
pcal_shwr_good_pped_vs_pmt_grp9
pcal_shwr_good_pped_vs_pmt_grp10
pcal_shwr_good_pped_vs_pmt_grp11
pcal_shwr_good_pped_vs_pmt_grp12
pcal_shwr_good_pped_vs_pmt_grp13
pcal_shwr_good_pped_vs_pmt_grp14

newpage 2 1
title SHMS Pre-Shower Pedestal Monitoring
macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/shms_replay_production_golden.root","cal_prshwr","p",1)'
macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/shms_replay_production_golden.root","cal_prshwr","p",2)'

newpage 1 1
title SHMS Calorimeter Pedestal Monitoring
macro 'UTIL/GEN/ped_tracking.C("../ROOTfiles/shms_replay_production_golden.root","cal_shwr","p",1)'

newpage 4 3
title SHMS Drift Chamber Reference Times
ptrig_pdc_ref1
ptrig_pdc_ref2
ptrig_pdc_ref3
ptrig_pdc_ref4
ptrig_pdc_ref5
ptrig_pdc_ref6
ptrig_pdc_ref7
ptrig_pdc_ref8
ptrig_pdc_ref9
ptrig_pdc_ref10

newpage 4 2
title SHMS Trigger Reference Times
ptrig_p1x_good_tdc
ptrig_p1y_good_tdc
ptrig_p2x_good_tdc
ptrig_p2y_good_tdc
ptrig_pT1_good_tdc
ptrig_pT2_good_tdc
ptrig_pT3_good_tdc
ptrig_pFADC_TREF_ROC2_good_tdc

newpage 2 1
title SHMS Fast Raster
# pFRAraw_XvsY
# pFRBraw_XvsY
pFRApos_XvsY
pFRBpos_XvsY

newpage 2 1
title SHMS EPICS BPM
macro UTIL/BEAMLINE/plot_beam.C("X")
macro UTIL/BEAMLINE/plot_beam.C("Y")

newpage 2 2
title SHMS Kinematics
pdc_trk_mom
pkin_theta
pkin_q2
pkin_w
# pkin_omega

# newpage 3 2 logz
# title SHMS Tracked Variables
# pcal_xytrack
# pcal_xdiff
# pcal_xdiff_v_xtr
# pcal_xyclusttrack
# pcal_ydiff
# pcal_ydiff_v_ytr

newpage 2 4 logz
title SHMS PID
hgc_vs_prshw
ngc_vs_prshw
pcal_shw_vs_prshw
pdc_trk_beta
ngc_vs_prshw_elec
# pcal_xtrack_vs_etrack
# pcal_ytrack_vs_etrack
pcal_xtrack_vs_etracknorm
pcal_ytrack_vs_etracknorm
pcal_delta_etracknorm

# newpage 2 4 logz
# title SHMS PID (electrons)
# hgc_vs_prshw_elec
# ngc_vs_prshw_elec
# pcal_shw_vs_prshw_elec
# pcal_delta_etracknorm_elec
# pdc_trk_beta_elec
# pdc_trk_mom_elec
# pcal_xtrack_vs_etrack_elec
# pcal_ytrack_vs_etrack_elec

# newpage 2 4 logz
# title SHMS PID (pions)
# hgc_vs_prshw_pi
# ngc_vs_prshw_pi
# pcal_shw_vs_prshw_pi
# pcal_delta_etracknorm_pi
# pdc_trk_beta_pi
# pdc_trk_mom_pi
# pcal_xtrack_vs_etrack_pi
# pcal_ytrack_vs_etrack_pi

# newpage 3 2 logxy 
# title SHMS Trigger Rates
# ptrig1rate_vs_time
# ptrig2rate_vs_time
# ptrig3rate_vs_time
# ptrig4rate_vs_time
# ptrig6rate_vs_time

newpage 2 1 
title SHMS Trigger Pedestal Tracking
macro 'UTIL/GEN/ped_tracking_trigger.C("../ROOTfiles/shms_replay_production_golden.root","hgc","p")'
macro 'UTIL/GEN/ped_tracking_trigger.C("../ROOTfiles/shms_replay_production_golden.root","rshwr","p")'
